<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Modifier votre message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Modifier votre message</h1>
    <form method="post">
        <textarea name="content" required>{{ message.content }}</textarea><br>
        <button type="submit">Enregistrer</button>
    </form>
    <p><a href="{{ url_for('subject', subject_id=message.subject_id) }}">Annuler</a></p>
</body>
</html>